<form action="/upload" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="csv">CSV file</label>
    <input id="csv" name="csv" type="file" value=""/>

    <input type="submit" value="submit"/>
</form>
